{% extends 'cristal/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% block title %} Cadastro de Tarefa {% endblock %}

<h2>Tarefas</h2>

<div class="listaTarefas">
       <table>
            <thead>
                <tr>
                    <th>Nome Cliente </th>
                    <th>Mês Referência </th>
                    <th>Data e Hora de Envio</th>
                    <th>Download Boleto </th>
                </tr>
            </thead>
            <tbody>
            {% for t in tarefas %}
                <tr>
                    <td>{{t.nome}}</td>
                    <td>{{t.mes}}</td>
                    <td>{{t.data_boleto}}</td>
                    <td><a href="/media/{{t.boleto}}"><i class="fa fa-download"></td>
                </tr>
                {% endfor %}
            </tbody>
       </table>
</div>




{% endblock %}

