<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
            <style>
                .titulo{
                color: red;
                }
                .corpo{
                color: yellow;
                }
        </style>

</head>
    <body>

        <p><span style="color:#c0392b"><u><em><strong>Caro cliente,</strong></em></u></span></p>
        <p>{{nome}}</p>
        <h4>Sua fatura referente ao m&ecirc;s de {{mes}} encontra-se em anexo e j&aacute; est&aacute; dispon&iacute;vel para pagamento.</h4>
        <h4>Por raz&otilde;es de seguran&ccedil;a o arquivo PDF encontra-se encriptografado com os 11 digitos do seu CPF/CNPJ.</h4>
        <h4>Para abrir o arquivo em anexo digite os&nbsp;<span style="color:#c0392b"><u><strong>11 digitos do seu CPF/CNPJ</strong></u>&nbsp;</span>sem os pontos.</h4>
        <p><u>Atenciosamente,</u></p>
    </body>
</html>