{% extends 'cristal/base.html' %}

{% block content %}

<div class="container">
    <h1>Listar Templates</h1>
       <table>
            <thead>
                <tr>
                    <th>Nome </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
             {% for f in form  %}
                <tr>
                    <td><a href="/template/editar/{{f.id}}">{{f.nome}}</a></td>

                     <td><a href="/template/apagar/{{f.id}}"><i class="fa fa-trash"></td>
                </tr>
                {% endfor %}
            </tbody>
       </table>
</div>





{% endblock %}
