{% extends 'cristal/base.html' %}

{% load crispy_forms_tags %}

{% block title %} {{task.title}} {% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}

        {{ form.media }}
        <div class="form-group">
            <label><font class ="label">Titulo</font></label><br>
            {{ form.nome }}
        </div>
        <br>
        <div class="form-group">
            <label>Modelo</label><br>
            <label><font class ="label"></font></label>
            {{ form.email_template }}
        </div>
        <input type="submit" class="btn btn-success" value="Salvar Template">
</form>
{% endblock %}