li a {
    color: green;
}

li  {
    color: green;
    text-indent: 50px;
    font-size: 20px;
}

p {
    color: green;
    text-indent: 50px;
    font-size: 40px;
}


body {
    background: white url("images/background.jpg") no-repeat;
}