body {
    background: white url("images/background.jpg") no-repeat;

.listaTarefas {
    border: 1px solid;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: bottom;


}
